Repository KillWolfVlad/kt-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint, prettier

.lintstagedrc.yaml:

"*.{ts,tsx,js,jsx}": eslint
"*.md": markdownlint
"*.{s,tsx,js,jsx,json,yaml,yml,md,html}": prettier

fix: load images lazy
  src/movies/components/movieItem/movieItem.tsx
Due: eslint, prettier

feat: add app version
  .github/workflows/deploy.yaml
  src/layout/components/layoutDrawer/layoutDrawer.tsx
Due: eslint, prettier

fix: add retries for posters
  src/movies/components/movieItem/movieItem.tsx
  src/movies/components/movieItem/no-poster.png
  src/movies/hooks/useMovies.ts
  src/movies/interfaces/movie.ts
Due: eslint, prettier

feat: add country
  src/movies/components/movieDrawer/movieDrawer.tsx
  src/movies/components/movieItem/movieItem.tsx
  src/movies/hooks/useCountryFlag.ts
  src/movies/hooks/useMovies.ts
  src/movies/interfaces/movie.ts
Due: eslint, prettier

feat: add open in kinopoisk
  src/movies/components/movieDrawer/movieDrawer.tsx
Due: eslint, prettier

docs: add notes about cors
  README.md
Due: markdownlint, prettier

chore: fix prettier after upgrade
  .prettierrc.yaml
  index.html
Due: prettier

feat: add genre
  src/movies/components/movieDrawer/movieDrawer.tsx
  src/movies/hooks/useMovies.ts
  src/movies/interfaces/movie.ts
Due: eslint, prettier

fix: fix useMemo usage
  src/movies/hooks/useMoviesColumns.ts
Due: eslint

feat: migrate to custom domain
  vite.config.ts
Due: eslint

docs: fix badge
  README.md
Due: markdownlint, prettier

fix: small fixes
  package-lock.json
  specs/2026-05-18-3-settings-dialog/spec.md
  specs/2026-05-18-4-movies-list/spec.md
  specs/2026-05-18-5-navbar/spec.md
  specs/2026-05-18-6-movie-view/spec.md
  src/App.tsx
  src/components/FiltersDialog.tsx
  src/components/MovieViewDialog.css
  src/components/MovieViewDialog.tsx
  src/components/Navbar.css
  src/components/Navbar.tsx
  src/components/SettingsDialog.css
  src/components/SettingsDialog.tsx
  src/hooks/useScrollLock.ts
  src/main.css
Due: eslint, markdownlint, prettier

fix: scroll lock and movie view on mobile
  specs/2026-05-18-3-settings-dialog/spec.md
  specs/2026-05-18-5-navbar/spec.md
  specs/2026-05-18-6-movie-view/spec.md
  src/components/MovieViewDialog.css
  src/hooks/useScrollLock.ts
Due: eslint, markdownlint, prettier

feat: add swipe
  specs/2026-05-18-3-settings-dialog/spec.md
  specs/2026-05-18-5-navbar/spec.md
  specs/2026-05-18-6-movie-view/spec.md
  src/components/FiltersDialog.tsx
  src/components/MovieViewDialog.tsx
  src/components/SettingsDialog.css
  src/components/SettingsDialog.tsx
  src/hooks/useSwipeToClose.ts
Due: eslint, markdownlint, prettier

fix: fix useScrollLock
  src/hooks/useScrollLock.ts
Due: eslint

fix: fix swipe dead zone
  src/components/SettingsDialog.css
  src/hooks/useSwipeToClose.ts
Due: eslint

fix: fix useScrollLock
  src/components/MovieViewDialog.css
  src/components/SettingsDialog.css
  src/hooks/useScrollLock.ts
Due: eslint

fix: fix ios zoom
  .opencode/rules/debugging.md
  .opencode/rules/ios-pwa.md
  index.html
  src/main.css
Due: markdownlint, prettier

fix: fix settings logic
  specs/2026-05-18-3-settings-dialog/spec.md
  src/App.tsx
  src/components/SettingsDialog.tsx
Due: eslint, markdownlint, prettier

fix: fix erase button
  specs/2026-05-18-5-navbar/spec.md
  src/components/FiltersDialog.tsx
Due: eslint, markdownlint, prettier

fix: fix copy link
  .opencode/rules/specs.md
  .opencode/skills/find-bugs/SKILL.md
  specs/2026-05-18-6-movie-view/spec.md
  src/components/MovieViewDialog.tsx
Due: eslint, markdownlint, prettier

chore: add test/data.json url for dev server
  .env.example
  package-lock.json
  package.json
  specs/2026-05-18-7-vite-dev-server/spec.md
  vite.config.ts
Due: eslint, markdownlint, prettier

chore: add analyze ui skill
  .opencode/skills/analyze-ui/SKILL.md
Due: markdownlint, prettier

chore: add analyze ux skill
  .opencode/skills/analyze-ux/SKILL.md
Due: markdownlint, prettier

feat: add series support
  .env.example
  .opencode/rules/movies-data-schema.md
  .opencode/rules/series-data-schema.md
  .opencode/skills/analyze-data-schema/SKILL.md
  .opencode/skills/analyze-json-schema/SKILL.md
  specs/2026-05-18-4-movies-list/spec.md
  specs/2026-05-18-6-movie-view/spec.md
  specs/2026-05-20-1-series-support/spec.md
  src/App.tsx
  src/adapters/movieAdapter.ts
  src/adapters/seriesAdapter.ts
  src/components/MediaCard.css
  src/components/MediaCard.tsx
  src/components/MediaViewDialog.css
  src/components/MediaViewDialog.tsx
  src/components/MovieCard.tsx
  src/components/Navbar.css
  src/components/Navbar.tsx
  src/components/SettingsDialog.tsx
  src/hooks/useContent.ts
  src/hooks/useMovies.ts
  src/hooks/useSettings.ts
  src/types.ts
  src/utils/countryFlags.ts
  vite.config.ts
Due: eslint, markdownlint, prettier

fix: use text symbols instead emoji
  specs/2026-05-20-1-series-support/spec.md
  src/components/MediaViewDialog.tsx
Due: eslint, markdownlint, prettier

fix: better toggle ui/ux and other small ui fixes
  specs/2026-05-20-1-series-support/spec.md
  src/App.tsx
  src/components/MediaViewDialog.tsx
  src/components/Navbar.css
  src/components/Navbar.tsx
Due: eslint, markdownlint, prettier

feat(wip): try add dual slider for ratings filter
  specs/2026-05-23-1-rating-dual-slider/spec.md
  src/App.tsx
  src/components/FiltersDialog.css
  src/components/FiltersDialog.tsx
  src/hooks/useFilters.ts
Due: eslint, markdownlint, prettier
